[Unit]
Description=Log Anomaly Detector service

[Service]
Type=forking
User=lad
ExecStart=/usr/bin/anomaly_detector_start
ExecStop=/usr/bin/anomaly_detector_stop
StandardError=file:/var/log/anomaly_detector/error.log

[Install]
WantedBy=multi-user.target
